@import "../../variables";

.thankspage__text {
  font-size: 1.25rem;
  color: $brand-color__swatch-lightgrey;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 $content-breaks__mobile-small 0;
}
