$mobileMed: 375px;
$mobileLrg: 425px;

$tabletSml: 600px;
$tabletLrg: 768px;

$laptopSml: 900px;
$laptopMed: 1024px;
$laptopLrg: 1440px;

$desktopMed: 1920px;
$desktopLrg: 2560px;

@mixin mqMin($width) {
  @media (min-width: $width) {
    @content;
  }
}
