$brand-color__swatch-red: #f2293a;
$brand-color__swatch-lightgrey: #d9d7d7;
$brand-color__swatch-grey: #a6a1a1;
$brand-color__swatch-darkgrey: #403b3b;
$brand-color__swatch-black: #0d0000;

$font-size-p__mobile: 1.25rem;

$title-big-margins__mobile-small: 6.625rem;
$content-breaks__mobile-small: 2rem;
