@import "../../variables";
@import "../../mixins";

form {
  background-color: $brand-color__swatch-lightgrey;
  width: calc(100% - 1.25rem);
  box-shadow: 0.625rem -0.625rem 0px 0px $brand-color__swatch-grey;
  margin: 0 auto;
  margin-bottom: $content-breaks__mobile-small;
}

.contactpage__submit-form {
  font-weight: 800;
  font-size: 1.5625rem;
  text-transform: uppercase;
  font-family: inherit;
  background-color: transparent;
  color: $brand-color__swatch-red;
  border: none;
  padding: 1.1rem 1.5rem;
  margin: -1.1rem -1.5rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $brand-color__swatch-lightgrey;
  }
}

.submit_form {
  margin: 0 auto;
  display: block;

  &:hover {
    background-color: $brand-color__swatch-darkgrey;
    color: blue;
    border: solid 0.3125rem $brand-color__swatch-darkgrey;
  }
}

.contactpage__user-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 700;
  font-size: $font-size-p__mobile;
  text-transform: uppercase;
  margin-bottom: 1.5rem;

  input,
  textarea {
    background-color: transparent;
    border: solid 0.3125rem $brand-color__swatch-darkgrey;
    border-radius: 0.75rem;
    padding: 0.3125rem 0.625rem;
    font-family: inherit;
    font-size: $font-size-p__mobile;
    transition: 0.3s ease-in-out;
  }

  input:focus-visible,
  textarea:focus-visible {
    outline: none;
    border: solid 0.3125rem $brand-color__swatch-red;
  }

  label {
    color: $brand-color__swatch-darkgrey;
  }
}

textarea {
  font-family: inherit;
  resize: none;
}

.contactpage__inputs-wrapper {
  padding: 2.5rem 1.25rem;
  transition: 0.4s padding ease;
}

@include mqMin($mobileLrg) {
  .contactpage__inputs-wrapper {
    padding: 3rem 2rem;
  }

  .contactpage_title {
    width: 40%;
  }
}

@include mqMin($tabletSml) {
  .contactpage__inputs-wrapper {
    padding: 4rem 5rem;
  }

  .contactpage_title {
    width: 30%;
  }
}

@include mqMin($tabletLrg) {
  .contactpage__inputs-wrapper {
    padding: 4rem 5rem;
  }

  .contactpage__inputs-flex-desktop {
    display: flex;
    gap: 2rem;
  }

  .contactpage_title {
    width: 50%;
  }
}

@include mqMin($laptopSml) {
  .contactpage__inputs-wrapper {
    padding: 5rem 6rem;
  }
}

@include mqMin($laptopLrg) {
  .contactpage__inputs-wrapper {
    padding: 6rem 8rem;
  }

  .contactpage_title {
    width: 40%;
  }
}

@include mqMin($laptopLrg) {
  .contactpage__inputs-wrapper {
    padding: 5rem 10rem;
  }
}

@include mqMin($desktopMed) {
  .contactpage__inputs-wrapper {
    padding: 6rem 12rem;
  }

  .contactpage__inputs-flex-desktop {
    gap: 3rem;
  }
}

@include mqMin($desktopLrg) {
  .contactpage__inputs-wrapper {
    padding: 8rem 15rem;
  }

  .contactpage__inputs-flex-desktop {
    gap: 5rem;
  }
}

.contactpage__intro-text {
  text-transform: uppercase;
  font-size: $font-size-p__mobile;
  color: $brand-color__swatch-lightgrey;
  margin: 0 0 $content-breaks__mobile-small 0;
  transition: 0.4s font-size ease;
}

@include mqMin($tabletSml) {
  .contactpage__intro-text {
    font-weight: 800;
    font-size: 1.5rem;
  }
}

@include mqMin($tabletLrg) {
  .contactpage__intro-text {
    font-weight: 800;
    font-size: 1.7rem;
  }
}

@include mqMin($laptopLrg) {
  .contactpage__intro-text {
    font-size: 2rem;
    margin-bottom: 6rem;
  }
}

@include mqMin($desktopLrg) {
  .contactpage__intro-text {
    font-weight: 800;
    font-size: 3rem;
  }
}

.contactpage__collab-text {
  text-transform: uppercase;
  text-align: center;
  font-size: $font-size-p__mobile;
  font-weight: 800;
  color: $brand-color__swatch-darkgrey;
  margin: 0 0 1.5rem 0;
}

.contactpage__alt-email {
  text-transform: uppercase;
  text-align: center;
  font-size: $font-size-p__mobile;
  font-weight: 300;
  color: $brand-color__swatch-lightgrey;
  margin: 0;
}

.arrow {
  width: 40px;
  height: 40px;
  margin: 0 auto 1.5rem;

  /**
   * Dark Arrow Down
   */
  background-image: url(../../assets/icons/site-icons/down-arrow-svgrepo-com.svg);
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
